<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark main-navbar m-0 p-0">
		<img src="img/like2.png" alt="Ключ к сердцу">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Главная<span class="sr-only"></span></a>
				</li>
				<!--<li class="nav-item">-->
				<!--<a class="nav-link" href="#">Получить задание</a>-->
				<!--</li>-->
				<!--<li class="nav-item">-->
				<!--<a class="nav-link" href="#">Предложить помощь</a>-->
				<!--</li>-->
				<!--<li class="nav-item">-->
				<!--<a class="nav-link" href="#">Карта добра</a>-->
				<!--</li>-->
				<li class="nav-item">
					<a class="nav-link" href="#">Личный кабинет</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<a href="/views/profile.html" class="list-group-item list-group-item-action list-lc">
						Профиль
					</a>
					<a href="/views/tasks.html" class="list-group-item list-group-item-action list-lc">Задачи</a>
				</div>
			</div>
			<div class="col-md-9 jumbotron">
				<div class="text-center">
					<h1>Список задач</h1>
					<div id="task_list_div">
					</div>

					<div>
						<div>
							<div class="form-group m-3 text-left">
								<label for="comment">Укажите описание:</label>
								<textarea id="textAreaDescription" class="form-control" rows="5" id="comment"></textarea>
							</div>
						</div>
						<button class="btn btn-primary text-left" onclick="sendTask()">Создать</button>
					</div>
				</div>
				<script>
					function sendTask() {
						$.post("/setdata", { act: 'settasks', text: $('#textAreaDescription').val() }, function (data) {
							location.href = "/tasks";
						});
					}

					function refreshTaskList() {
						fetch(`../getdata?act=gettasks`)
							.then(result => result.json())
							.then(json => {
								console.log(json);
								let resultHtml = ``;
								for (let i = 0; i < json.length; i++) {
									//1 откр  2 в ожидании действия 3 в работе 4 закрытие
									let status = '-';
									if (json[i].state_id === 1) {
										status = 'Открытая';
									} else if (json[i].state_id === 2) {
										status = 'В ожидани действия';
									} else if (json[i].state_id === 3) {
										status = 'В работе';
									} else if (json[i].state_id === 4) {
										status = 'Закрытые';
									}
									let dateRow = new Date(json[i].create_date);
									resultHtml = resultHtml += `
						<div  class="row">
							<div class="col-1">${i + 1}</div>
							<div class="col-11;">
								<div  class="text-left">
									<div class="font-weight-light;">${dateRow.getDate()}-${dateRow.getMonth() + 1}-${dateRow.getFullYear()}</div>
									<div>${json[i].text}</div>
									<p class="text-success">${status}</p>
								</div>
							</div>
						</div>`;
								}
								document.getElementById('task_list_div').innerHTML = resultHtml;
							})
					}
					refreshTaskList()
				</script>
			</div>
		</div>
	</div>
</body>

</html>